<main class="main">
  <ul class="posts" *ngFor="let item of listMovies">
    <li class="post">
      <div class="corpoConteudo">
        <div class="infoUserPost">
          <div class="imgUserPost"></div>

          <div class="nameAndHour">
            <strong>Passar nome usario</strong>
            <p>21h</p>
          </div>
        </div>
        <div class="btnEditar">
          <!-- routerLink="/editar/{{item.id}}" -->
          <button routerLink="/editar/{{item.id}}"><img src="../../assets/video.svg" alt="Adicionar um video"></button>
        </div>
      </div>
      <p>
        {{item.description}}
      </p>
      <div class="imgPost">
        <img mat-card-image [src]="item.url">
      </div>
      <div class="actionBtnPost">
        <button type="button" class="filesPost like"><img src="../../assets/heart.svg" alt=""></button>
        <button type="button" class="filesPost comment"><img src="../../assets/comment.svg" alt=""></button>
        <button type="button" class="filesPost share"><img src="../../assets/share.svg" alt=""></button>
      </div>

    </li>
    <input type="hidden" name="id" value="{{item.id}}">
  </ul>

</main>